<h1>Restablecer Contraseña</h1>

<form action="/api/users/RequestPasswordReset" method="post">
    <label for="email">email</label>
    <input type="text" name="email" id="email" required>
    <button type="submit">enviar correo de restablecimiento</button>
</form>

{{#if error}}
  <p class="error"> {{error}} </p>
{{/if}}

<style>
    .error{
        color:purple
    }
</style>