<h1>Restablecer Contrasrña</h1>

<form action="/api/users/reset-password" method="post">
  <label for="email">email:</label>
  <input type="email" name="email" id="email" required>

  <label for="token">token:</label>
  <input type="text" name="token" id="token" required>

  <label for="password">Nueva Contraseña:</label>
  <input type="text" name="password" id="password" required>

  <button type="submit">Restablecer Contraseña</button>

</form>

{{#if error}}
  <p class="error"> {{error}} </p>
{{/if}}

<style>
    .error{
        color:purple
    }
</style>